.c-about-hero__image {
    height: 585px;

    @include media-breakpoint-down(md) {
        height: 400px;
    }

    @include media-breakpoint-down(sm) {
       height: 250px;
    }
}

.c-about-hero__text {
    background-color: white;
    margin-top: -155px;
    padding: 55px;

    @include media-breakpoint-down(md) {
        padding: 55px 55px 0 55px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 0;
        padding: 30px 15px 0 15px;
    }
}

.c-about-hero__vertical-text {
    @include media-breakpoint-up(lg) {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    @include media-breakpoint-only(md) {
        padding: 0 55px;
    }
}