.c-four-oh-four {
    background-image: url('../images/four-oh-four-background.svg');
    background-repeat: no-repeat;
    background-position: top left;
    height: calc(100vh - 75px);
    min-height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
}