.wpcf7-mail-sent-ok {
    display: none !important;
}

.c-wpcf7-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 1s ease-in-out;
    -webkit-animation: fadeOut 0.5s 1; 
    -moz-animation:    fadeOut 0.5s 1; 
    -o-animation:      fadeOut 0.5s 1; 
    animation:         fadeOut 0.5s 1;
    opacity: 0;

    &.active {
        display: flex;
        -webkit-animation: fadeIn 0.5s 1; 
        -moz-animation:    fadeIn 0.5s 1; 
        -o-animation:      fadeIn 0.5s 1; 
        animation:         fadeIn 0.5s 1;
        opacity: 1; 
    }

    .c-wpcf7-popup__socials {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            font-size: 30px;
            padding: 0 11px;
            height: 30px;
            display: block;
        }
    }

    .popup-close {
        position: absolute;
        top: 50px;
        right: 50px;
        color: color(navy, 500);
        font-size: 30px;
        cursor: pointer;
    }
}