.h-color-white {
    color: color(white, 500);
}

.h-color-white--alt {
    color: color(white, 600);
}

.h-color-gray {
    color: color(gray, 600);
}

.h-color-green {
    color: color(green, 500);
}