.h-width-155px { width: 100%; max-width: 155px; }
.h-width-100px { width: 100%; max-width: 100px; }
.h-width-180px { width: 100%; max-width: 180px; }
.h-width-220px { width: 100%; max-width: 220px; }
.h-width-250px { width: 100%; max-width: 250px; }
.h-width-290px { width: 100%; max-width: 290px; }
.h-width-350px { width: 100%; max-width: 350px; }
.h-width-400px { width: 100%; max-width: 400px; }
.h-width-415px { width: 100%; max-width: 415px; }
.h-width-450px { width: 100%; max-width: 450px; }
.h-width-510px { width: 100%; max-width: 510px; }
.h-width-530px { width: 100%; max-width: 530px; }
.h-width-555px { width: 100%; max-width: 555px; }
.h-width-565px { width: 100%; max-width: 565px; }
.h-width-600px { width: 100%; max-width: 600px; }
.h-width-685px { width: 100%; max-width: 685px; }
.h-width-710px { width: 100%; max-width: 710px; }


.h-width-50  { width: 50%; }
.h-width-100 { width: 100%; }


.h-height-485px { height: 485px; }
.h-height-500px { height: 500px; }
.h-height-1570px { height: 1570px; }

.h-height-100 { height: 100%; }

.h-flex-1 { flex: 1; }